.container{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    border-right: 1px solid #000000;
    position: fixed;
    color: black;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}